
main{
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    max-width: 960;
    height: 472px;
    margin-bottom: 2.5%;
    font-family: 'Open Sans', sans-serif;
}

    #formData{
        background-color: rgb(166, 166, 184);
        border: 1px solid BLACK;
        margin-top: 125px;
        height: 35%;
        margin-right: auto;
        margin-left: auto;
    }

    #formData  h2{
        background-color: rgb(166, 166, 184);
        padding: 5px;
        font-size: 18px;
        text-align: left;
        color: white;
    }


    #locationAdd-form{
        width: 100%;
        display: inline-block;
        text-align: left;
        padding: 1%;
    }

    #locationAdd-fs{        
        width: 98%;
        padding-bottom: .5%;

    }

    #CustomerInfo{
        display: inline-block;
    }

    input{
        padding: 5px;
        font-size: 14px;
    }

    #locationCustomers-fs{
        width: 100%;
        display: inline-flex;
    }

    button{
        margin-left: 2%;
        padding: 5px;
        font-size: 18px;
    }




table{
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}


#salesTableHeader th{
    padding: 10px;
    border: black 2px solid;
    background-color:  rgb(166, 166, 184);
    color: white;
    text-align: center;
}



#salesByLocation th{
    width: 10%;
    font-size: 16px;
    text-align: left;
    background-color: rgb(166, 166, 184);
    color: white;
    padding: 7.5px;
    border: black 2px solid;
}

#salesByLocation td{
    border: black 2px solid;
    padding-top: .5%;
    padding-bottom: .25%;
    font-style: italic;
    width: fit-content;
}

#locationTotals{
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    border-bottom: black 2px solid;
    text-align: center;
}


#salesTableTotal th {
    background-color: rgb(166, 166, 184);
    border: black 2PX solid;
}


#salesTableTotal td{
    font-size: 24px;
    color: green;
    width: fit-content;
    padding: 10PX;
    margin-top: auto;
    margin-bottom: auto;
    border: black 2PX solid;
    background-color: rgb(166, 166, 184);

}

#grandTotal{
    font-size: 30px;
    padding: 10PX;
    color: red;
    width: fit-content;
}
